body{
  font-family: arial;
  background: #adadeb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
}

#mainstopwatch{
  width: 200px;
  margin: 100px auto;
  padding: 60px 50px 100px;
  text-align: center;
  font-size: 40px;
  border-radius: 38px;
  box-shadow: 4px -4px 6px, -4px 4px 6px ;
}

#mainstopwatch span{
  width: 30px;
  color: #000033;
  font-size: 25px;
  margin: 3px;
  padding: 10px;
  border-radius: 38px;
  display: inline-block;
  box-shadow: 3px -3px 5px, -3px 3px 5px ;
}

#mainstopwatch button{
  border: none;
  -webkit-appearance: none;
  font-size: 22px;
  width: 80px;
  height: 55px;
  color:#ffffff;
  background-color:#000033;
  border-radius: 33px;
  transition: .3s;
  box-shadow: 6px -6px 8px #cc99ff, -6px 6px 8px #cc99ff;
}

#mainstopwatch button:nth-of-type(1){
  background-color: #006600;
}

#mainstopwatch button:nth-of-type(2){
  background-color: #cc0000;
}

#mainstopwatch button:last-child{
  margin-top: 12px;
  background-color: #cca300;
}

#mainstopwatch button:hover{
  background: #333;
  color: #e0e0e0;
  border-radius: 38px;
  cursor: pointer;
}
